

<div class="container">
    <div class="card">
        <div class="card-body">
            <div>
                <h3 class="card-title">User Details</h3>
                <br>
                <p>User Name : {{user.userName}}</p>
                <br>
                <p>First Name : {{user.firstName}}</p>
                <br>
                <p>Last Name : {{user.lastName}}</p>
                <br>
                
                <button (click)="logOut()" class="btn btn-danger">Sign out</button>
                <br>
                <br>
            </div>
        </div>
    </div>


</div>