
<div class="container">
    <div class="row">
        <div class="col-sm" *ngFor="let movie of movies">
            <div class="card">
                <div class="card-body">
                    <div>
                        <h3 class="card-title">{{movie.title}}</h3>
                        <br>
                        <button (click) = "removeFavorite(movie.title)" class="btn btn-danger">Remove</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>